body {
  margin: 0;
  padding: 0;
  font-family: sans-serif;
}

.header {
  border-bottom: 1px solid rgba(0,0,0,.12);
  position: fixed;
  top: 0;
  z-index: 9900;
}

.footer {
  position: fixed;
  top: 900px;
  z-index: 9900;
}

.progressBar {
  margin-top: -30px;
}

.mood {
  margin-top: 150px;
  height: 960px;
}

.good {
  height: 960px;
}

.improvement {  
  height: 960px;
}

img {
  cursor: pointer
}

img:hover {
  zoom:1.2;
}

.icon-align {
  text-align: center;
}

.zoom {
  zoom: 1.2
}

.active {
  color: white !important;
}