body {
  margin: 0;
  padding: 0;
  text-align: center;
  font-weight: bold;
  font-family: sans-serif;
}

.scroll{
  position: relative;
}
.btn {
  margin: 15px 0px 15px 0px !important; 
}

.list-group-item{
  word-wrap: break-word;
}

.progressBar {
  margin-top: -30px;
}

.course {
  margin-top: 150px;
  height: 460px;
}

.section-container{
  min-height: 200px;
  padding: 20px;
}

.first-section{
  margin-top: 73px;
}

img {
  cursor: pointer
}

img:hover {
  zoom:1.1;
}

.icon-align {
  text-align: center;
}

.zoom {
  zoom: 1.2
}

.active {
  color: white !important;
}